# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Makefile
D1/Makefile
D1/cmake_install.cmake
D1/CMakeCache.txt
D1/CMakeFiles

# Ignorar executáveis
golomb_test

# Ignorar arquivos gerados
encoded.bin